
@{
    ViewBag.Title = "Index";
}
<h2>Пресмятане на електроенергия</h2>
<form action="Calculation/calculate" method="post">
    <div class="form-group">
        <label for="opp1">Дневна тарифа:</label>
        <input type="text" name="value1" class="form-control" id="opp1"/>
    </div>
    <div class="form-group">
        <label for="opp2">Нощна тарифа:</label>
        <input type="text" name="value2" class="form-control" id="opp2"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Пресметни" class="btn btn-primary"/>
    </div>
</form>


